{% assign curricula = "swc-gapminder|swc-inflammation"  | split: "|" %}
{% unless curricula contains site.curriculum %}
{% include warning-curriculum.html %}
{% endunless %}

{% include install_instructions/shell.html %}
{% include install_instructions/git.html %}
{% include install_instructions/editor.html %}

{% if site.flavor == "r" %}
{% include install_instructions/r.html %}
{% elsif site.flavor == "python" %}
{% include install_instructions/python.html %}
{% elsif site.flavor == "FIXME" %}
{% include install_instructions/r.html %}
{% include install_instructions/python.html %}
{% else %}
{% include warning-flavor.html %}
{% endif %}

{% comment %}
The following setup instructions are commented out because Carpentries workshops
cover the these topics less frequently. Please uncomment the lines that
correspond to the topics covered in your workshop.

{% include install_instructions/sql.html %}
{% include install_instructions/openrefine.html %}
{% endcomment %}
<div id="shell"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>Setup Instructions</h3>
  <p>
    We will start by creating a gridpack
  </p>
  <p>
  Login to lxplus/lpc. Check the validity of your grid certifice.
 <code>voms-proxy-init -voms cms -valid 192:00</code>
  </p>
  <p>
 For the gridpack: <code>git clone https://github.com/cms-sw/genproductions -b mg265UL</code>
</p>
  <p>
  Find the files under bin/MadGraph5_aMCatNLO, Take a look at gridpack_generation.sh. Add a new model SMEFTsim_topU3l_MwScheme 
 <code>cd addons/models</code>
  </p>

<p>
Take a look at param_card.dat and vertices.py/couplings.py
<code>cd addons/cards/SMEFTsim_topU3l_MwScheme_UFO/TT01j_tutorial</code>
 </p>
<p>
To run locally:
<code>./gridpack_generation.sh TT01j_tutorial addons/cards/SMEFTsim_topU3l_MwScheme_UFO/TT01j_tutorial</code>
</p>
<p>  
To run on condor:
<code>nohup ./submit_cmsconnect_gridpack_generation.sh TT01j_tutorial addons/cards/SMEFTsim_topU3l_MwScheme_UFO/TT01j_tutorial > TT01j_tutorial.log
</code>
</p>
  
